# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# DEPENDENCIES
/node_modules
/.pnp
.pnp.js

# TESTING
/coverage

# PRODUCTION
/dist
/build
/hint-report

# MISC
.DS_Store
.env
.env.local
.env.dev
.env.prod
.env.development.local
.env.production.local
.env.test.local

npm-error.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
