# GENERIC FILES
*.txt
*.lock

# SRC FILES/FOLDERS
/src/assets

# PRODUCTION
/dist

# TESTING
/coverage
/hint-report

# MAIN FILES/FOLDERS
/.husky
.commitlintrc
.hintrc
.editorconfig
.prettierignore

# PROJECT FILES
LICENSE
.gitignore
