{
	"extends": ["stylelint-config-standard", "stylelint-config-sass-guidelines", "stylelint-config-standard-scss", "stylelint-config-recess-order", "stylelint-prettier/recommended"],
	"ignoreFiles": ["**/*.html", "**/*.css", "**/*.js", "**/*.ttf", "**/*.txt", "**/*.json", "**/*.md", "**/*.lock", "**/*.webp"],
	"overrides": [
		{
			"files": ["./src/scss/*.scss"],
			"customSyntax": "postcss-scss"
		}
	]
}
